<div class="flex-container">
    <img src="assets/images/store.jpg">

    <div>
        <h1>About DevGreen</h1>
        <p> Welcome to DevGreen, the ultimate online destination for full stack developers
            seeking low maintenance potted plants to enhance their workspace. <br><br>

            At DevGreen, we understand the unique demands of coding marathons and the need
            for a touch of nature to boost productivity and reduce stress. <br><br>

            Our curated selection features hardy, easy-care plants like ZZ plants, succulents, and
            peace lilies, each chosen for their ability to thrive in low-light environments and
            require minimal watering. <br><br>

            Many of our desk companions not only improve air quality but also add a refreshing green aesthetic
            to your coding corner. With detailed care guides, stylish pots, and fast delivery, DevGreen
            ensures that your workspace stays vibrant and serene. <br><br>

            Here at DevGreen, we encourage you to pull up the blinds, set your new potted friend on the window sill,
            and let the light in as you code!
        </p>
        <p class="para2"> Happy Coding!🪴</p>
    </div>

</div>
<div>
    <hr>
    <footer> Website Design KP</footer>
</div>